.coverbackground {
    background-color: #D8E592;
}

.coverbackground img {
    width: 100%;
}

.gearbox {
    padding: 3em var(--left-right-padding);
}

.gearbox img {
    width: 100%;
}

.intro h3, .gearbox h1 {
    font-family: 'Livvic Bold';
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introLeft {
    width: 40%;
}

.introRight {
    width: 50%;
}

.gray {
    color: #7C7C7C;
    font-family: 'Livvic';
}

.green {
    color: #889735;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    gap: 100px;
}

.tag {
    display: flex;
    flex-direction: row;
}

.leftSide {
    background-color: #8AB262;
    width: 50px;
    border-radius: 25px 0 0 25px;
}

.rightSide {
    background-color: #D8E592;
    padding: 20px 30px;
    border-radius: 0 25px 25px 0;
    width: 100%;
}

.rightSideContent {
    font-family: 'Livvic Medium';
}

.bulletPoint {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.number {
    color: #D8E592;
    background-color: #8AB262;
    display: block;
    padding: 5px 11px;
    border-radius: 25px;
    font-family: 'Livvic Bold';
}

.pointTitle {
    font-family: 'Livvic Bold';
    color: #8AB262;
    margin-top: 23px;
}

.hmw {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.pieCharts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.pieCharts img {
    max-width: 200px;
}

.groupTags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.withIcon img {
    max-width: 30px;
}

.listingPoints {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listingPoints p {
    margin: 0;
}

.synthesis {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.conceptMapping {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 25px;
}

.insights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.insight {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.persona {
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
}

.mobileFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.mobileFeatures img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 25px 25px 0 0;
}

.mobileFeature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.bottomList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.finalDesign {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
    .intro {
        flex-direction: column;
    }

    .introLeft, .introRight {
        width: 100%;
        max-width: 100%;
    }

    .gridWrapper {
        gap: 0;
    }

    .gridWrapper, .hmw {
        grid-template-columns: 1fr;
    }

    .leftSide {
        width: auto;
        height: 50px;
        border-radius: 25px 25px 0 0;
    }

    .tag {
        flex-direction: column;
    }

    .rightSide {
        border-radius: 0 0 25px 25px;
        width: auto;
    }

    .pieCharts {
        flex-direction: column;
    }

    .pieCharts img {
        align-self: center;
    }

    .groupTags, .synthesis {
        grid-template-columns: 1fr;
    }

    .insights, .mobileFeatures {
        grid-template-columns: 1fr 1fr;
    }
}