.form {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.leftForm input:focus, .rightForm textarea:focus {
    outline-color: #4286F5;
}

.leftForm input, .rightForm textarea, .message, .submitMobile {
    font-family: 'Livvic';
    font-size: 30px;
}

.leftForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
}

.form div input, .submitMobile {
    border: 2px solid black;
    padding: 0.5em 1em;
    border-radius: 1.5em;
}

.rightForm {
    display: flex;
    height: 280px;
    width: 50%;
}

.rightForm textarea {
    border: 2px solid black;
    padding: 1em 1em;
    border-radius: 1.5em;
    resize: none;
    flex: 1;
}

.title {
    font-size: 80px;
    font-family: 'Margin';
    margin: 0;
    padding-bottom: 0.125em;
}

.submit, .submitMobile {
    width: 200px;
    background-color: #4286F5;
    color: white;
    cursor: pointer;
}

.submitMobile {
    display: none;
}

.message {
    text-align: center;
    padding-top: 0.5em;
}

@media screen and (max-width: 1000px) {
    .form {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
    .leftForm {
        width: 100%;
    }

    .rightForm {
        width: 100%;
    }

    .submit {
        display: none;
    }

    .submitMobile {
        display: block;
        margin-top: 2em;
    }

    .message {
        text-align: left;
    }
}

@media screen and (max-width: 950px) {
    .leftForm input, .rightForm textarea, .message, .submitMobile {
        font-size: 20px;
    }

    .title {
        font-size: 50px;
    }

    .submitMobile {
        width: 150px;
    }
}

@media screen and (max-width: 375px) {
    .leftForm input, .rightForm textarea, .message, .submitMobile {
        font-size: 18px;
    }

    .title {
        font-size: 30px;
    }

    .title {
        padding-bottom: 0.5em;
    }

    .leftForm {
        gap: 1em;
    }

    .form {
        gap: 1em;
    }
}