.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px black solid;
    align-items: center;
    padding: 10px 0px;
}

.leftHeader, .rightHeader {
    display: flex;
    flex-direction: row;
    gap: 3em;
    flex-grow: 1;
    flex-basis: 0;
}

.leftHeader {
    font-family: 'Livvic';
    padding-left: var(--left-right-padding);
}

.leftHeader a, .rightHeader a {
    background: linear-gradient(to bottom, var(#FF5A2C) 0%, var(#FF5A2C) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
    color: #000;
    text-decoration: none;
}

.leftHeader a:hover, .rightHeader a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.rightHeader {
    justify-content: flex-end;
    padding-right: var(--left-right-padding);
}

.hamburger {
    display: none;
}

@media screen and (max-width: 950px) {
    .leftHeader, .rightHeader {
        gap: 1.5em;
    }

    .rightHeader a img {
        height: 25px;
    }
}  

@media screen and (max-width: 768px) {
    .leftHeader, .rightHeader {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .top {
        padding: 10px var(--left-right-padding);
    }
}