.intro {
    position: fixed;
    background-color: #FDF8F4;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introUp {
    composes: intro;
    top: -100%;
    transition: 1s;
}

.firstname, .lastname {
    margin: 0;
}

.firstname {
    font-family: 'Margin';
    font-size: 100px;
    position: fixed; 
    padding-bottom: 75px;
    padding-right: 80px;
}

.image { 
    position: absolute; 
    right: 0;
    top: auto;
    bottom: 0;
    padding-right: 137px;
    padding-bottom: 140px;
    width: 25px;
}

.lastname {
    font-family: 'Livvic';
    font-size: 75px;
    position: fixed;
    padding-top: 75px;
    padding-left: 110px;
}

.gone {
    opacity: 1;
}

.firstnameHover {
    composes: firstname;
    padding-bottom: 20px;
    padding-left: 170px;
    transition: 1s;
}

.goneHover {
    composes: gone;
    transition: 0.5s ease-out;
    opacity: 0;
    overflow: hidden;
}

.imageHover {
    composes: image;
    padding-right: 229px;
    top: auto;
    bottom: 0;
    padding-bottom: 100px;
    width: 35px;
    transition: 1s;
}

.lastnameHover {
    composes: lastname;
    padding-top: 0px;
    padding-left: 230px;
    font-size: 95px;
    transition: 1s;
}

.orange, .happyface, .bluespikes {
    position: absolute;
    animation: shake infinite 5s;
}

.zigzagline, .aboutstar {
    position: absolute;
    animation: shakeReverse infinite 5s;
}

@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
}

@keyframes shakeReverse {
    100% { transform: translate(0px, 0px) rotate(0deg); }
    90% { transform: translate(-1px, -2px) rotate(-1deg); }
    80% { transform: translate(-3px, 0px) rotate(1deg); }
    70% { transform: translate(3px, 2px) rotate(0deg); }
    60% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    40% { transform: translate(-3px, 1px) rotate(0deg); }
    30% { transform: translate(3px, 1px) rotate(-1deg); }
    20% { transform: translate(-1px, -1px) rotate(1deg); }
    10% { transform: translate(1px, 2px) rotate(0deg); }
    0% { transform: translate(0px, 0px) rotate(0deg); }
}

.orangewrap {
    position: absolute;
    transform: scaleY(-1);
    padding-right: 600px;
}

.bluespikes {
    padding-bottom: 250px;
    padding-left: 300px;
}

.aboutstar {
    padding-top: 200px;
    padding-right: 350px;
}

.happyface {
    padding-top: 300px;
}

.zigzagline {
    padding-top: 200px;
    padding-left: 400px;
}

@media screen and (max-width: 575px) {
    .firstname {
        font-size: 80px;
        padding-bottom: 60px;
        padding-right: 60px;
    }

    .lastname {
        font-size: 55px;
        padding-top: 60px;
        padding-left: 90px;
    }

    .image { 
        padding-right: 106px;
        padding-bottom: 112px;
        width: 20px;
    }

    .orange {
        width: 150px;
    }

    .orangewrap {
        padding-right: 450px;
    }

    .bluespikes {
        width: 75px;
        padding-bottom: 150px;
        padding-left: 250px;
    }

    .aboutstar {
        width: 60px;
        padding-top: 150px;
        padding-right: 250px;
    }

    .happyface {
        width: 70px;
        padding-top: 250px;
    }

    .zigzagline {
        width: 100px;
        padding-top: 175px;
        padding-left: 270px;
    }

    .firstnameHover {
        padding-bottom: 20px;
        padding-left: 115px;
    }
    
    .imageHover {
        padding-right: 176px;
        top: auto;
        bottom: 0;
        padding-bottom: 85px;
        width: 35px;
    }
    
    .lastnameHover {
        padding-top: 0px;
        padding-left: 190px;
        font-size: 85px;
    }
}

@media screen and (max-width: 425px) {
    .firstname {
        font-size: 60px;
        padding-bottom: 45px;
        padding-right: 50px;
    }

    .lastname {
        font-size: 45px;
        padding-top: 45px;
        padding-left: 80px;
    }

    .image { 
        padding-right: 84px;
        padding-bottom: 85px;
        width: 17px;
    }

    .orange {
        width: 90px;
    }

    .orangewrap {
        padding-right: 300px;
    }

    .bluespikes {
        width: 55px;
        padding-bottom: 100px;
        padding-left: 200px;
    }

    .aboutstar {
        width: 40px;
        padding-top: 100px;
        padding-right: 200px;
    }

    .happyface {
        width: 50px;
        padding-top: 200px;
    }

    .zigzagline {
        width: 75px;
        padding-top: 150px;
        padding-left: 200px;
    }

    .firstnameHover {
        padding-bottom: 20px;
        padding-left: 95px;
    }
    
    .imageHover {
        padding-right: 138px;
        top: auto;
        bottom: 0;
        padding-bottom: 70px;
        width: 25px;
    }
    
    .lastnameHover {
        padding-top: 0px;
        padding-left: 150px;
        font-size: 65px;
    }
}