.peachtober {
    padding: 3em var(--left-right-padding);
}

.peachtober h3, .peachtober h1 {
    font-family: 'Livvic Bold';
}

.peachtober img {
    width: 100%;
}

.coverbackground {
    background-color: #FFFAF6;
}

.coverbackground img {
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introLeft {
    width: 40%;
}

.introRight {
    width: 50%;
}

.paddingTop {
    padding-top: 3em;
}

.graphics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3em;
    column-gap: 2em;
}

@media screen and (max-width: 768px) {
    .graphics {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .intro {
        flex-direction: column;
    }

    .introLeft, .introRight {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .graphics {
        grid-template-columns: 1fr;
    }
}