.play {
    display: flex;
    flex-direction: column;
    padding: 0 var(--left-right-padding);
}

.title {
    font-size: 70px;
    font-family: 'Livvic SemiBold';
    margin: 50px 0 0 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 20px;
}

.playpeople {
    width: 100%;
}

.playprojects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 100px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 35px;
    }

    .subtitle {
        font-size: 16px;
    }
}