.frontline {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 7em;
    padding-top: 5em;
}

.knock {
    font-family: 'Margin';
    font-size: 50px;
    margin: 0;
}

.introBig, .introText {
    position: relative;
    font-family: 'Livvic';
    margin: 0;
}

.introBig {
    font-size: 80px;
}

.introText {
    padding-top: 50px;
    font-size: 30px;
}

.over { 
    position: relative; 
}

.over img { 
    animation: MoveUpDown 3s linear infinite;
    position: absolute; 
    top: 0.1em; 
    left: 0.1em; 
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 0.1em;
    }
    50% {
        top: 0.05em;
    }
}

.happyface {
    animation: rotationABit 5s infinite linear;
    position: absolute; 
    top: 0.15em;
    left: 6.5em;
}

@keyframes rotationABit {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.orange {
    animation: sizeDramatic 2s infinite linear;
    position: absolute; 
    bottom: -1em;
    left: 18em;
}
  
@keyframes sizeDramatic {
    0%, 100% {
        width: 225px;
    }
    50% {
        width: 250px;
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10em 7em 5em 7em;
    column-gap: 5em;
}

.stickers {
    text-align: left;
    padding-left: 7em;
    padding-top: 5em;
}

.surprise {
    font-family: 'Margin';
    margin: 0;
    font-size: 30px;
}

.stickerInfo {
    font-family: 'Livvic';
    margin: 0;
    font-size: 30px;
}

.stickersPick {
    font-family: 'Margin';
    margin: 0;
    font-size: 80px;
    padding-top: 0.5em;
}