.frontline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--left-right-padding);
    margin: 0 100px;
    background-image: url("../images/homepage-background.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.frontline h1 {
    font-family: 'Livvic SemiBold';
    font-size: 80px;
    margin: 0 0 20px 0;
}

.frontlineSubContent {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.playpeople {
    width: 100%;
}

.stickers {
    text-align: left;
    padding: 0 var(--left-right-padding);
    padding-top: 100px;
}

.surprise {
    font-family: 'Livvic Bold';
    margin: 0;
    font-size: 50px;
}

.stickerInfo {
    font-family: 'Livvic';
    margin: 0;
    font-size: 30px;
}

.introTextBreak {
    display: none;
}

.moveableStickers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 var(--left-right-padding) 0 var(--left-right-padding);
    column-gap: 2em;
    padding-top: 2em;
}

.star {
    width: 50px;
    padding-left: 10px;
}

.profile {
    max-width: 100%;
}

.right {
    position: relative;
    z-index: -2;
}

.orange {
    animation: sizeDramatic 2s infinite linear;
    position: absolute; 
    top: 0;
    right: 0;
    margin-right: 75%;
    margin-top: 60%;
}

.orangeMobile {
    display: none;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px var(--left-right-padding);
}

.relativeWrapper {
    position: relative;
}

.helloSticky, .descriptionSticky {
    font-family: 'Livvic Bold';
    color: #FFF6C5;
    background-color: #659B61;
}

.helloSticky {
    position: absolute;
    left: -155px;
    top: 10px;
    padding: 15px 20px;
    border-radius: 25px;
}

.descriptionSticky {
    position: absolute;
    width: 135px;
    text-align: center;
    top: -50px;
    right: -175px;
    padding: 15px 20px;
    border-radius: 40px;
}

.arrow {
    position: absolute;
    width: 20px;
    top: 75px;
    left: -175px;
}

.translation {
    position: absolute;
    top: 85px;
    left: -185px;
    font-family: 'Livvic Bold';
}

.playperson {
    display: none;
}

@media screen and (max-width: 1235px) {
    .orange {
        margin-right: 71%;
    }
}

@media screen and (max-width: 1190px) {
    .surprise {
        font-size: 20px;
    }
    
    .stickerInfo {
        font-size: 20px;
    }
    
    .stickersPick {
        font-size: 50px;
    }
}  

@media screen and (max-width: 1015px) {
    .playpeople, .arrow, .descriptionSticky {
        display: none;
    }

    .playperson {
        display: block;
        max-width: 200px;
    }

    .translation, .helloSticky {
        position: relative;
        left: auto;
        top: auto;
        margin: 0 0 10px 0;
    }

    .helloSticky {
        margin: 0 0 20px 0;
    }

    .relativeWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .frontline h1 {
        font-size: 70px;
    }

    .frontline {
        margin: 0;
    }
}

@media screen and (max-width: 890px) {
    .stickers {
        padding-top: 3em;
    }
}

@media screen and (max-width: 680px) {
    .moveableStickers {
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5em;
    }

    .frontline h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 470px) {
    .frontline h1 {
        font-size: 40px;
    }

    .frontlineSubContent {
        font-size: 20px;
    }
}

@media screen and (max-width: 440px) {
    .stickers {
        padding-top: 0;
    }
}

@media screen and (max-width: 375px) {
    .surprise {
        font-size: 18px;
    }
    
    .stickerInfo {
        font-size: 16px;
    }
    
    .stickersPick {
        font-size: 30px;
    }

    .frontline h1 {
        font-size: 30px;
    }

    .frontlineSubContent {
        font-size: 18px;
    }
}