:root {
  --left-right-padding: 7em;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/paper.webp");
  background-repeat: repeat;
}

@font-face {
  font-family: 'Livvic';
  src: url('./fonts/Livvic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic Medium';
  src: url('./fonts/Livvic-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic Medium Italic';
  src: url('./fonts/Livvic-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic Bold';
  src: url('./fonts/Livvic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Margin';
  src: url('./fonts/Margin\ DEMO.otf') format('opentype');
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

p, a {
  font-size: 18px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spinning {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enlarge {
  animation: size 2s infinite linear;
  width: 50px;
  padding-left: 10px;
}

@keyframes size {
  0%, 100% {
      opacity: 100%;
  }
  50% {
      opacity: 0%;
  }
}

.moveable-line, .moveable-control.moveable-origin {
  display: none;
}

@media screen and (max-width: 950px) {
  .enlarge {
    width: 30px;
  }
}  

@media screen and (max-width: 950px) {
  .enlarge {
    width: 25px;
    padding-left: 5px;
  }

  :root {
    --left-right-padding: 5em;
  }
} 

@media screen and (max-width: 650px) {
  :root {
    --left-right-padding: 3em;
  }
}

@media screen and (max-width: 440px) {
  :root {
    --left-right-padding: 2em;
  }
}

@media screen and (max-width: 415px) {
  .enlarge {
    width: 20px;
    padding-left: 5px;
  }
}  

@media screen and (max-width: 392px) {
  .enlarge {
    width: 15px;
    padding-left: 5px;
  }
}